* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #020d19;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
form, #payroll {
  width: 95%;
  max-width: 400px;
  margin: 25px auto;
  padding: 20px;
  border: 1px solid #020d19;
  border-radius: 10px;
  background-color: #020d19;
  position: relative;
}
form::before, #payroll::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #fbb040, #f9ed32);
  filter: blur(10px);
  z-index: -1;
}
form h1, #payroll h1 {
  font-size: 22px;
  text-align: center;
  width: fit-content;
  margin: 11px auto 22px auto;
  letter-spacing: 2px;
  font-weight: 700;
  position: relative;
}
form h1::before, #payroll h1::before{
  content: "";
  position: absolute;
  left: -10%;
  bottom: -20%;
  height: 3px;
  width: 120%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), #fbb040, #f9ed32, rgba(0, 0, 0, 0));;
}
label, .item, input{
  font-size: 18px;
}
label .label {
  margin-left: 18px;
}
input {
  background-color: #020d19;
  color: #f9ed32;
  outline: none;
  border: 1px solid #020d19;
  border-bottom: 1px solid #f9ed32;
  margin: 5px 0;
}
input::placeholder {
  color: #fff;
  opacity: 0.75;
  font-style: italic;
}
.text {
  width: 150px;
}
.num {
  width: 50px;
}
#submit, #back-button {
  font-size: 20px;
  font-weight: 500;
  display: block;
  width: 33%;
  margin: 20px auto 0 auto;
  padding: 10px;
  border: 1px solid #020d19;
  background: linear-gradient(165deg, #f9ed32, #fbb040);
  color: #020d19;
  border-radius: 10px;
}
#back-button {
  width: 75%;
}
.item {
  margin-top: 5px;
  color: #f9ed32;
  width: fit-content;
}
.label {
  color: #fff;
}
.indent {
  margin-left: 25px;
}
